# Dipendenze del progetto
node_modules

# File di log
*.log

# Dati di sistema
.DS_Store
Thumbs.db

# Credenziali e variabili ambiente
.env

# Docker
docker-compose.override.yml

# Altri file
query.txt

# Folder delle immagini e degli avatar
files

# Script di import delle immagini e degli avatar
utils/uploadAvatar.js
utils/uploadImages.js

# Vecchia configurazione al database
config/db.js.old